@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Comentario solo para muestra y referencia*/

*{
    padding: 0;
    margin: 0;
}


body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #22D4FD;
    text-decoration: none;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 8% 15%;
    justify-content: space-between;
}

.titulo-destacado {
    color: #22D4FD;

}

.presentacion__contenido {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 35px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.presentacion__contenido__parrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
    width: 378px;
    border-radius: 8px;
    border: 2px solid #22D4FD;
    text-align: center;
    padding: 16px 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__subtitulos{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link:hover{
    background-color: #272727;
}

.footer{
    background-color: #22D4FD;
    padding: 24px;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    text-align: center;
}

